html, body {
    margin: 0;
    padding: 0;
    height: 200%;
}

body {
    background: url("background.png");
}

.title1 {
    font-size: 40px;
    margin-left: 24px;
    margin-bottom: 24px;
    margin-top: 32px;
}

.title2 {
    font-size: 40px;
    margin-left: 24px;
    margin-bottom: 24px;
    margin-top: 32px;
}

.background {

}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.bio1 {
    font-family: 'Roboto', sans-serif;
    color: dimgrey;
    margin-left: 24px;
}
.bio2 {
    font-family: 'Roboto', sans-serif;
    color: dimgrey;
    margin-left: 24px;
}

.content1 {
    background-color: white;
    border-radius: 20px;
    margin-top: -20px;
    margin-left: 20px;
    height: 300px;
    width: 700px;
}
.content2 {
    background-color: white;
    border-radius: 20px;
    margin-top: -20px;
    margin-left: 20px;
    height: 300px;
    width: 700px;
}

.img1 {
    height: 500px;
    width: 330px;
}
.img2 {
    height: 500px;
    width: 330px;
}